body {
    font-size: 24px;
    margin: 0px;
    font-family: Fira Sans, Helvetica, Arial, sans-serif;
    margin-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #007bff;
}


h1 {
    font-size: 64px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

section {
    padding: 30px 0 60px 0;
}

@media (max-width: 600px) {
    img.mobile-hidden {
        display: none;
    }
}

.social-logo {
    width: 64px;
    margin-left: 10px;
}

.footer-link {
    text-decoration: none;
    color: #ffc832;
}

.footer-link:hover {
    color: #007bff;
}

.button {
    display: inline-block;
    width: 100%;
    min-height: 38px;
    padding: 8px 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
}

.button:hover {
    outline: 0;
}

.button-play-store {
    color: black;
    background-color: #ffc832;
    border-color: #ffc832;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    font-size: 1.3rem;
    margin-top: 20px;
}

.spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-t-b {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.padding-t-50 {
    padding-top: 50px;
}

.padding-t-30 {
    padding-top: 30px;
}

.m-w-70 {
    max-width: 70rem;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.pad-l-r {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pad-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.align-left {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.blue {
    background-color: #40A2E3;
    color: white;
}

.light-blue {
    background-color: #BBE2EC;
    color: black;
}

.green {
    background-color: #0D9276;
    color: white;
}

.grey {
    background-color: #2a3439;
    color: white;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.border-box {
    box-sizing: border-box;
}

.carousel {
    display: flex;
    overflow: hidden;
    max-width: 70rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.moving-carousel {
    display: flex;
    border-radius: 10px;
}

.carousel-img {
    height: 300px;
    transition: transform 0.5s ease;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.enlarge-on-hover:hover {
    transform: scale(1.05);
}

.enlarge-on-hover {
    transition: transform 0.2s;
}