body {
    font-family: Fira Sans, Helvetica, Arial, sans-serif;
    margin-top: 80px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.render-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 70rem;
    text-align: center;
}

.render {
    width: 100%;
    text-align: center;
    /*border: 1px solid #ddd;*/
    padding: 10px;
    margin-bottom: 200px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.render.show {
    opacity: 1;
    transform: translateY(0);
}

.render img {
    max-width: 100%;
    height: auto;
}

.render h2 {
    font-size: 42px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: #3d3d3d;
    line-height: 1.5;
    margin: 10px 0;
}

.render p {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 18px;
    color: #3d3d3d;
    line-height: 1.5;
    margin: 10px 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}